
/* table th td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
} */
table, th, tr, td{
  font-weight: bold;
border:3px solid black;
border-collapse: collapse;
align-items: center;
padding: 5px;
color: black}
th, td{padding:15px}
p,th{font-weight: bolder;}
h1,h2{text-align: center;
text-decoration: underline;}
.contacts{

  float:center;
}
.map{border:4px solid blue}
table{
position: relative;
left:350px}
